<!DOCTYPE html>
<html lang="en">
<head>
<link>
    <meta charset="UTF-8">
    <title>Chat Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/loginStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="login.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body background="/static/images/fondo.jpg">
<div align="center" width="80%" >
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username" id="username" width="100%" height="200%"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" id="password" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" value="login" onclick="getData()"/>
            </td>
        </tr>
    </table>
    </div>

</body>
</html>